	<!--  footer -->
  <footer>
    <div class="footer">
      <div class="container">
        <div class="row">
          <div class="col-xl-8 col-lg-8 col-md-12 col-sm-12">
            <div class="row">
              <div class="col-md-8 col-sm-6">
                <div class="address">
                  <h3>Adres </h3>
                </div>
                <ul class="location_icon">
                  <li>

                    Podpromie 8/2a, Rzeszów, Polska<br>
                    <a href="tel:+48667100709" style="color:aliceblue">+48 667 100 709</a><br>
                    <a href="mail:wz3@wp.pl" style="color:aliceblue">wz3@wp.pl</a><br> Poniedziałki: 17:30 -
                    19:30<br> Środy: 19:00
                    - 21:00<br>
                  </li>
                </ul>
              </div>
              <div class="col-md-4 col-sm-6">
                <div class="address">
                  <h3>Links</h3>
                  <ul class="Menu_footer">
                    <li class="active"> <a href="#">Strona główna</a> </li>
                    <li><a href="#about">O Nas </a> </li>
                    <li><a href="#work">Work</a> </li>
                    <li><a href="#contact">Kontakt </a> </li>
                  </ul>
                  <br><br><br>
                </div>
              </div>
            </div>
          </div>
          <div class="col-xl-4 col-lg-4 col-md-12 col-sm-12">
            <div class="row">
              <div class="col-md-7 col-sm-6">
                <div class="address">
                  <h3>Follow Us</h3>
                </div>
                <ul class="social_icon">
                  <li><a href="#">Facebook <i class="fa fa-facebook" aria-hidden="true"></i></a></li>
                  <!-- <li><a href="#"> Twitter<i class="fa fa-twitter" aria-hidden="true"></i></a></li> -->
                  <li><a href="#"> Linkedin<i class="fa fa-linkedin-square" aria-hidden="true"></i></a></li>
                  <!-- <li><a href="#"> Youtube<i class="fa fa-youtube-play" aria-hidden="true"></i></a></li> -->
                  <!-- <li><a href="#"> Instagram<i class="fa fa-instagram" aria-hidden="true"></i></a></li> -->
                </ul>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </footer>
  <!-- end footer -->